*,
*::after,
*::before {
    box-sizing: border-box;
}

.body {
    width: 1920px;
    background-color:#171717;       
}

a {
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.contact-info {
    padding-top: 46px;
    margin-bottom: 150px;
    display: flex;
    justify-content: space-between; 
}

.logo {
    display: block;
    width: 216px;
    height: 33px;
    margin-top: 9px;
}

.contacts {
    width: 420px;
    display: flex;
    justify-content: space-between;
    font-family: 'Circe';
    font-style: normal;
}

.full-number {
    margin-top: 13px;
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
}

.phone-code {
    color:#D6AF76;
}

.phone-number {
    color:#FFFFFF;
}

.top-button {
    width: 218px;
    border: 1px solid #E4B564;
    color:#E4B564;
    padding: 10px 25px 10px 26px;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;    
}

.main {
    font-family: 'Gilam';
    font-style: normal;
    padding: 0 230px 0 230px;
    padding-bottom: 192px;
    background-image: url(../Images/header-bg.png);
    background-attachment: fixed;
    background-size: cover;       
}

.phone-logo {
    padding-right: 8px;
}

.section-title {
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    color: #FFFFFF;    
}

.section-description {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
    margin: 41px 278px 41px 0;
}

.first-section-menu {
    margin-bottom: 161px;
    width: 1469px;
    height: 963px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "item1 item1 item2 item2 item3 item3"
    "item4 item4 item4 item5 item5 item5";
    grid-gap: 27px;
     
}

.first-menu-item {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color:#FFFFFF;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;                
}

.first-menu-item:hover {
    background-color: rgba(232, 210, 171, 0.76);
}

.item-one {
    grid-area: item1;
    background-color: #634F2C;
}

.item-two {
    grid-area: item2;
    background-color: #B4A385;
    padding: 0 44px 0;
}

.item-three {
    grid-area: item3;
    background-color:#E4B564;
}

.item-four {
    grid-area: item4;
    background-color: #635A4A;
}

.item-five {
    grid-area: item5;
    background-color:#B08C4D;
}

.second-section-menu {
    width: 1469px;
    height: 897px;
    margin-top: 94px;
     
    color: #FFFFFF;
    display: grid; 
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: "box1 box3 box5"
                         "box1 box3 box5"
                         "box2 box3 box6"
                         "box2 box4 box6"  
                         "box2 box4 box7"
                         "box2 box4 box7";
    grid-gap: 30px;
}

.second-menu-box:hover {
    background-color: rgba(232, 210, 171, 0.76);
}

.second-menu-box {
    padding: 44px 0 0 51px;
    color: #FFFFFF;
}

.box-one {
    background-color: #0E0E0E;    
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    grid-area: box1; 
}

.box-two {    
    background-color:#1F1F1F;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px; 
    grid-area: box2; 
}

.box-three {    
    background-color: #242424;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    grid-area: box3;  
}

.car-number {
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
}

.box-four {    
    background-color:#E4B564;
    color: black;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    grid-area: box4; 
}

.box-five {    
    background-color: #1F1F1F;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    grid-area: box5; 
}

.box-six {    
    background-color: #0E0E0E;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    grid-area: box6; 
}

.box-seven {    
    background-color: #0A0909;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    grid-area: box7; 
}

.car-number {
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
}

.footer {
    font-family: 'Gilam';
    font-style: normal;       
}

.third-section {
    height: 1293px;
    background-color:#0E0E0E;
    padding: 0 230px;
    background-image: url(../Images/parallax-bg.png);
    background-attachment: fixed;
    background-size: cover;
    background-position: center; 
}

.title-box {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 148px;
    margin-bottom: 72px;
}

.title-three {
    padding-bottom: 14px;
}

.bottom-button {
    font-family: 'Circe';
    font-style: normal;
    color: rgba(228, 181, 100, 1);
    width: 180px;
    border: 1px solid #E4B564;
    padding: 10px 0 10px 39px;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
}

.third-section-menu {
    width: 1461px;
    height: 782px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.third-menu-item:hover {
    background-color: rgba(232, 210, 171, 0.76);
}

.third-menu-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.first-link{
    background-color:#634F2C;
}

.second-link {
    background-color: #635A4A;
    flex-direction: column;
    text-align: center;
    color: white;
}

.bottom-logo {
    padding-bottom: 15px;
}

.work-type {
    padding: 0 80px 0;
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
}

.adress {
    padding: 0 110px 0;
    font-weight: 350;
    font-size: 22px;
    line-height: 28px;
}

.third-link {
    background-color:#E4B564;
}

.fourth-link {
    background-color:#635A4A;
}

.fifth-link {
    background-color:#B08C4D;
}

.six-link {
    background-color:#634F2C;
}